server:
  port: 8081

spring:
  application:
    name: sharding-hourly-test

  shardingsphere:
    # 开启 SQL 显示，方便调试
    props:
      sql-show: true
      check-table-metadata-enabled: false

    datasource:
      names: ds0
      ds0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.0.111:3306/sharding_db?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf-8&allowPublicKeyRetrieval=true
        username: root
        password: root

    rules:
      sharding:
        tables:
          t_order:
            # 预生成 24 小时的分片表 (2026-02-22 的 00~23 点)
            actual-data-nodes: ds0.t_order_$->{2026022200..2026022223}

            # 分片键配置
            table-strategy:
              standard:
                sharding-column: create_time
                sharding-algorithm-name: hourly-sharding

            # 分布式 ID 生成
            key-generate-strategy:
              column: id
              key-generator-name: snowflake

        # 分片算法 (自定义按小时分片)
        sharding-algorithms:
          hourly-sharding:
            type: CLASS_BASED
            props:
              strategy: STANDARD
              algorithmClassName: com.example.sharding.algorithm.HourlyShardingAlgorithm


        # 分布式 ID 生成器
        key-generators:
          snowflake:
            type: SNOWFLAKE
            props:
              worker-id: 1

# MyBatis-Plus 配置
mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  type-aliases-package: com.example.sharding.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# 日志配置
logging:
  level:
    com.example.sharding: debug
    org.apache.shardingsphere: debug